/* BEGIN CSS/SCREEN.CSS */
/* COLOR PALETTE */

/************************/
/* For IE to render HTML5 elements properly */
header, footer, article, section, nav, menu { display: block;}
/*********/

body {
  color: #222;
  font-family: Georgia, serif;
  font-size: 1em;
  line-height: 1.5;
  vertical-align: baseline;
}

html>body {
	font-size: 16px;
}

h1 {
	font-family: 'BebasNeueRegular', sans-serif;
	font-size: 3em;
  color: #F2F2F4;
}

/* Index */
header {
  background: #009FFA;
}

.container {
  width: 960px;
  padding: 10px;
  margin: 0 auto;
  position: relative;
  top: -10px;
}

section.projects {
  background: #B0C4D5;
}

/* END CSS/SCREEN.CSS */