<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
  <link href="/css/example.css" type="text/css" rel="stylesheet" />

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/prettify.js"></script>

  {% if page.style %}
  <!-- Extra styles -->
  <link rel="stylesheet" href="/css/{{ page.style }}.css">
  {% endif %}

  <!-- Google Analytics -->
  {% include js/ga.js %}
</head>

<body {% if page.prettyprint %} onload="styleCode()" {% endif %}>
  <header class="example-navbar">
    <a class="back-link" href="/">&larr; Back to projects</a>
  </header>
  <section class="container">
    {{ content }}    
  </section>
</body>
</html>